body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #333;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin: 20px;
    padding-top: 40px;
}

main {
    padding: 20px;
}

.container {
    padding: 20px;
}

.image-container {
    display: flex; 
    justify-content: space-between; 
    gap: 20px; 
    flex-wrap: wrap; 
    margin-bottom: 20px;
}

.sketch, .render {
    flex: 1 1 45%; 
    max-width: 45%; 
    margin: 10px 0;
    text-align: center;
}

.sketch img, .render img {
    width: 100%; 
    height: auto; 
    border-radius: 5px; 
}

#render .render {
    max-width: 100%; 
    margin: 20px 0; 
    padding: 0; 
}

#render .render img {
    width: 100vw; 
    max-width: 100%; 
    height: auto; 
    border-radius: 0; 
}

footer {
    text-align: center;
    padding: 10px;
    background: #333;
    color: #fff;
    margin: 0;
}

footer .image-container {
    margin-top: 20px;
}
